[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.5.0"
pylint = "==1.8.1"

[packages]
django-environ = "==0.4.5"
celery = "==4.3.1"
django-widget-tweaks = "==1.4.2"
python-magic = "==0.4.15"
django-ckeditor = "==5.6.1"
social-auth-core = "==3.3.2"
social-auth-app-django = "==3.1.0"
django-sslserver = "==0.20"
django-autoslug-iplweb = "==1.9.4"
django-js-reverse = "==0.8.2"
ua-parser = "==0.8.0"
user-agents = "==1.1.0"
beautifulsoup4 = "==4.6.3"
django-cacheops = "==5.0"
Django = "==3.1a1"
django_celery_results = "==1.0.1"
django_celery_beat = "==1.4.0"
PyYAML = "==3.13"
django-user_agents = "==0.3.2"
psycopg2-binary = "*"
gunicorn = "==19.9.0"
dmodels = "*"
model_bakery = "*"
django-storages = "*"
boto3 = "*"
django-versatileimagefield = "*"
sentry-sdk = "==0.7.14"
django-redis = "*"
django-cache-memoize = "*"
django-extensions = "*"
ipython = "*"
awscli = "*"
django-anymail = {extras = ["amazon_ses"],version = "*"}
werkzeug = "*"
djangorestframework = "*"
mimesis = "*"
transliterate = "*"
python-slugify = "*"
avatar-generator = "==0.0.13"
cairosvg = "*"
avinit = "*"
django-allauth = "*"
model-bakery = "*"
lxml = "*"
modeltranslation = "*"
django-solo = "*"
django-split-settings = "*"
django-map-widgets = "*"
django-uuslug = "*"
html2text = "*"
django-prometheus = "*"
django-autocomplete-light = "*"
coverage = "*"
mypy_extensions = "*"
oauth2client = "*"
google-api-python-client = "*"
httplib2 = "*"
django-cors-headers = "*"
django-recaptcha = "*"

[requires]
python_version = "3.8.2"

[pipenv]
allow_prereleases = true
